/* GENERAL STYLES */
html{
	background: #0B0B1B;
}
html,body{
	width: 100%;
	height: 100%;
}
@font-face{
    font-family: 'NotoMono';
    src: url('../fonts/NotoMono-Regular.ttf');
}
body{
	font-family: 'NotoMono';
}
ul{
	padding-left: 90px;
	padding-top: 30px;
}
ul li{
  list-style-type: none;
}
/* NAVIGATION */
.navigation{
	background-image:url('../images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.navigation li{
  float: left;
  width: 75px;
}
.navigation a{
  display: block;
  color: #F8F8FF;
	font-size: 13px;
	letter-spacing: 3px;
}
.navigation a:hover{
	color: #FF5177;
}
.title{
	font-family: 'NotoMono';
	font-size: 70px;
	text-align: center;
	margin-top: 205px;
	color: #FFFFFF;
}
.subtitle{
	font-family: 'NotoMono';
	font-size: 70px;
	text-align: center;
	color: #00bcd4;
	margin-top: -20px;
}
/* ABOUT ME */
.about{
	font-family: 'NotoMono';
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
#about_me {
	font-family: 'NotoMono';
	font-size: 35px;
	text-align: center;
	color: #FF5177;
}
/* CONTACT */
.contact{
	font-family: 'NotoMono';
	font-size: 15px;
	color: #FFFFFF;
	padding-top: 25px;
	padding-bottom: 25px;
}
#contact_me {
	font-family: 'NotoMono';
	font-size: 35px;
	text-align: center;
	color: #B2FF59;
}
#contact{
	text-align: center;
}
#contact a{
	color: #FFFFFF;
}
#contact a:hover{
	color: #EEFF41;
}
/* SOCIAL ICONS */
.social_icons{
	margin-right: 10px;
}
.social_icons:hover{
	opacity: 0.75;
}
